body{
  background-color: #BAFFFA;

}
.header{
  text-align: center;
  color:#265F6A;
  font-family: 'Great Vibes', cursive;
  font-weight: 700;
  font-size: 4rem;

}
.header:hover{
  color:#265F6A;
  font-weight: normal;
}
img:hover{
  color: blue;
}
hr{
  border-style: dotted;
  border-bottom: none;
  border-width:2px;
  border-color: #265F6A;
  width: 2%;
  margin: 3rem auto;
}
h2{
  color: #265F6A;

}
h3{
  color: #265F6A;

}
.btn {
  background: #67b0e0;
  background-image: -webkit-linear-gradient(top, #67b0e0, #4f93a8);
  background-image: -moz-linear-gradient(top, #67b0e0, #4f93a8);
  background-image: -ms-linear-gradient(top, #67b0e0, #4f93a8);
  background-image: -o-linear-gradient(top, #67b0e0, #4f93a8);
  background-image: linear-gradient(to bottom, #67b0e0, #4f93a8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color:#265F6A;
  font-size: 15px;
  padding: 6px;
  border: solid #afdcf7 0px;
  text-decoration: none;
}

.btn:hover {
  background: #6dc7e8;
  background-image: -webkit-linear-gradient(top, #6dc7e8, #3498db);
  background-image: -moz-linear-gradient(top, #6dc7e8, #3498db);
  background-image: -ms-linear-gradient(top, #6dc7e8, #3498db);
  background-image: -o-linear-gradient(top, #6dc7e8, #3498db);
  background-image: linear-gradient(to bottom, #6dc7e8, #3498db);
  text-decoration: none;
}
input{
   background-color: #afdcf7;
   margin: 0.5rem
}
textarea{
   background-color: #afdcf7;
   margin: 0.5rem
}
